* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gotham';
}

nav {
   text-align:center;
   padding: 20px;
   color: #0056A3;
}

section {
   display: flex;
   justify-content: flr;
   flex-direction: column;
   padding: 65px;
   color: #0056A3;
   
}

input {
    border-radius: 20px ;
}

button {
    background-color: #0056A3;
    border-radius: 20px;
    color: white;
    padding: 10px;
    text-decoration: none;
    border: 10px;
    
}