* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gotham';
}

nav {
   text-align:center;
   padding: 30px;
   color: #0056A3;
}


.inpt input {
    border-radius: 20px;
    
    padding: 10px;
    text-decoration: none;
    
}

.inpt button {
    background-color: #0056A3;
    color: white;
    border: 10px;
    border-radius: 20px;
    padding: 20px;
}

.centerchildren {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color:#0056A3 ;
    margin: 30px;
    padding: 50px;
}


    
    
