* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gotham";
}


.ContainerNav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: #0056A3;
    padding: 15px;
    color: white;

}

.h1 {
    font-size: x-large;
}

.link {
    display: flex;
    gap: 20px;
   }


a {
    text-decoration: none;
    color: white;
}

nav ul li {
    list-style: none;
   
}

section {
    display: flex;
    flex-wrap: wrap;
}

section {
    display: flex;
    justify-content: center;
}



.sec2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 200px;
    background-color: #0056A3;
    color: white;
}

.title {
    display: flex;
    justify-content: flex-start;
}

.txt {
    display: flex;
    justify-content: flex-end;
}