* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gotham";
}


.ContainerNav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: #0056A3;
    padding: 15px;
    color: white;

}

.h1 {
    font-size: x-large;
}

.link {
    display: flex;
    gap: 20px;
   }


a {
    text-decoration: none;
    color: white;
}

nav ul li {
    list-style: none;
   
}

section {
    display: flex;
    flex-wrap: wrap;
}

section {
    display: flex;
    justify-content: center;
}



.sec2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 100px;
    background-color: #0056A3;
    color: white;
}

.title {
    display: flex;
    justify-content: flex-start;
    font-size: larger;
}

.txt {
    display: flex;
    justify-content: flex-end;
    font-size: larger;
}

.sec3 {
   text-align: center;
   padding:  50px;
   color: #0056A3;
}

 .link-login a {
    text-align: center;
    background-color: #0056A3;
    padding: 20px;
 
}

.centerchildren {
    display: flex;
    justify-content: center;
} 

.slogan {
    text-align: center;
    color: #0056A3;
    padding: 10px;
    
}